body {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(20rem, 100%), 1fr));
    padding: 20px;
    gap: 20px
}

h1 {
    font-size: 40px;
}

p {
    font-size: 20px;
}

.price {
    font-size: 35px;
}

.image {
    max-width: 90%;
    max-height: 90%;
}

/* Section styling */

section {
    background-color: #fbfbfb;
    border-radius: 20px;
    padding: 20px;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    max-height: max-content;
}

.bank {
    display: flex;
    flex-direction: column;
}

/* Button styling */

button {
    border-style: none;
    border-radius: 5px;
    box-shadow: 0 0 0 1px rgb(0 0 0 / 20%);
    transition: all 200ms ease-out;
    font-size: 20px;
}

button:hover {
    box-shadow: 0 0 0 3px rgb(0 0 0 / 20%);
    cursor: pointer;
}

.pay-loan {
    display: none;
    background-color: #f39eb3;
    width: 100px;
    height: 50px;
}

.pay-loan.visible {
    display: block;
}

.transfer {
    background-color: #edef4b;
    width: 100px;
    height: 50px;
}

.do-work {
    background-color: #4c6ff2;
    color: white;
    width: 100px;
    height: 50px;
}

.get-loan {
    background-color: #4bf0a1;
    width: 200px;
    height: 50px;
    margin: 0 auto;
    margin-top: auto;
}

.buy {
    background-color: #4bc9f1;
    width: 200px;
    height: 50px;
    margin: 0 auto;
    margin-top: auto;
}

.work-buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: auto;
}

/* Styling dropdown */

.dropdown {
    min-width: 15em;
    position: relative;
    margin: 1em;
}

.dropdown * {
    box-sizing: border-box;
}

.select {
    display: flex;
    border: 1px black solid;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    cursor: pointer;
    border-radius: 5px;
}

.select-clicked {
    border: 1px gray solid;
}

.select:hover {
    background-color: rgb(243, 243, 243);
}

.selected {
    width: 90%;
}

.caret {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 6px solid black;
    transition: 0.3s;
}

.caret-rotate {
    transform: rotate(180deg);
}

.menu {
    list-style: none;
    background-color: white;
    border: 1px gray solid;
    position: absolute;
    top: 3em;
    left: 50%;
    transform: translateX(-50%);
    display: none;
    z-index: 1;
    min-width: 15em;
    border-radius: 5px;
    padding: 0;
}

.menu li {
    padding: 0.7em 0.5em;
    cursor: pointer;
}

.menu li:hover {
    background-color: rgb(243, 243, 243);
}

.menu-open {
    display: block;
}

/* Div styling */

.loan {
    display: none;
}

.loan-active {
    display: flex;
    justify-content: space-between;
}

.balance {
    display: flex;
    justify-content: space-between;
}

.pay {
    display: flex;
    justify-content: space-between;
}

.computer-info-container {
    display: flex;
    flex-direction: column;
}

.price-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 
* Info section is 3x as wide as other 
* sections and flex direction is
* horizontal when screen is wide 
*/

@media screen and (min-width: 1056px) {
    .info {
        grid-column-start: 1;
        grid-column-end: 4;
        flex-direction: row;
        justify-content: space-between;
    }

    .buy {
        margin: 0;
    }

    .computer-info-container {
        width: 40%;
    }
    
    .price-container {
        width: 30%;
    }
    
    .image-container {
        width: 30%;
    }
}